<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamtwo.apilol">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApiLolAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
      
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.teamtwo.apilol.ui.spells.SpellsLsitActivity"/>
        <activity android:name="com.teamtwo.apilol.ui.spells.SpellDetailActivity"/>
        <activity android:name="com.teamtwo.apilol.ui.matches.MatchListActivity"/>
        <activity android:name="com.teamtwo.apilol.ui.matches.MatchDetailActivity"/>
        <activity android:name="com.teamtwo.apilol.ui.items.ItemDetailActivity" />
        <activity android:name="com.teamtwo.apilol.ui.items.ItemListActivity" />
        <activity android:name="com.teamtwo.apilol.ui.champions.ChampionListActivity" />
        <activity android:name="com.teamtwo.apilol.ui.champions.ChampionDetailActivity" />
        <activity android:name="com.teamtwo.apilol.ui.summoners.SummonersDetailActivity" />
    </application>

</manifest>